/* TicketStyles.css */

body {
  font-family: 'Georgia', serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #1a1a1a; /* Dark gray for better contrast */
  margin-bottom: 20px;
}

form {
  background-color: transparent;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #dc6472; /* Pink color for labels */
}

.signInInput {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input[type='text'],
select,
input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input[type='text']:focus,
select:focus,
option:focus,
input[type='password']:focus,
input[type='email']:focus {
  border-color: #dc6472; /* Pink border on focus */
  outline: none;
}

.signInBtn {
  /* Pink background for buttons */
  background-color: #fadcde;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: auto; /* Adjust to prevent the button from taking full width */
  margin-top: 1.5em; /* Add margin for spacing */
  align-self: flex-start; /* Align the button with the labels */
  transition: background-color 0.3s, transform 0.2s;
}

.signInBtn:hover {
  /* Darker pink on hover */
  transform: scale(1.05);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e4e4e4; /* Light gray for list items */
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s;
}

li:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

li button {
  background-color: #dc3545; /* Red background for delete button */
}

li button:hover {
  background-color: #c82333; /* Darker red on hover */
}

.ticket-info {
  font-size: 16px;
  color: #333; /* Dark gray for ticket info */
}

/* Additional Styles for Ticket Types Dropdown */
select {
  background-color: #ffffff;
}

:root {
  --primary-bg: #000411;
  --link-color-primary: #aeb7b3;
  --secondary-bg: #e1efe6;
  --link-color-secondary: #e1efe6;
  --primary-button-hover: #160c28;
}

/* button {
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.8em 1.2em;
  font-size: 1.1rem;
} */

/* button,
input {
  border-radius: 8px;
} */

header {
  max-height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg);
}

.logo,
.logo-wrapper {
  height: 3.5em;
}

nav {
  margin-right: 1em;
  display: flex;
}

nav a,
nav h3 {
  text-decoration-color: var(--primary-bg);
  margin: auto 1em;
  color: var(--link-color-primary);
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 800;
  transition: all 0.2s ease;
}

nav a:hover {
  color: var(--link-color-secondary);
  text-decoration-color: var(--link-color-primary);
}

main {
  min-height: calc(100vh - 4em);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin {
  min-height: calc(100vh - 4em);
  align-items: center;
  justify-content: center;
}

.card-overlay {
  width: 60%;
  padding-top: 5em;
  padding-bottom: 5em;
  border-radius: 8px;
}

form label {
  align-self: flex-start;
}

.input-wrapper {
  width: 90%;
  margin: 0;
  padding: 0;
  margin-top: 1.5em;
}

.input-wrapper input {
  padding: 0.6em 1.2em;
  width: 100%;
  border-color: var(--primary-bg);
  font-size: 1.1rem;
  outline: none;
}

.input-wrapper select {
  padding: 0.6em 1.2em;
  width: 100%;
  border-color: var(--primary-bg);
  font-size: 1.1rem;
  outline: none;
}

input::placeholder {
  opacity: 0.7;
}

form button:hover {
  opacity: 0.7;
}

form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 1em;
  margin-top: 4em;
}

.col-4 {
  grid-template-columns: repeat(auto-fill, 400px);
}

/* .card {
  width: 350px;
  height: 550px;
  background-color: var(--primary-bg);
  color: var(--secondary-bg);
  border-radius: 8px;
  padding: 1em;
  text-align: center;
}

.card p {
  height: 50px;
} */

.protected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/** Map styling */
.mainContentSize {
  height: 90vh;
}

.map-container {
  width: 100%;
  height: 60vh;
  /* background-image: url('/images/web-bg.png'); */
  background-color: #124888;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.map-marker {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.img-resize {
  width: 200px;
  height: 200px;
}

.modal-popup {
  position: absolute;
  top: -90px;
  left: 50%;
  width: 9vw;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.book-online-button {
  background-color: #f4d0d5;
  border-radius: 8px;
  font-size: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: 'Georgia', serif;
  font-weight: bold;
}

/** Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.header-left .logo {
  font-family: 'Georgia', serif;
  font-size: 24px;
  font-weight: bold;
}

/* This wraps the navigation and the button together */
.header-right {
  display: flex;
  align-items: center;
  gap: 40px; /* Space between the nav links and the button */
}

.header-nav {
  display: flex;
  gap: 30px; /* Space between "Tickets" and "About" */
}

.nav-link {
  font-family: 'Georgia', serif;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.header-right .sign-in-btn {
  background-color: #f4d0d5;
  font-family: 'Georgia', serif;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  color: #000;
}

.sign-in-btn:hover {
  background-color: #f5b7bc;
}

.slogan-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-bottom: 2px solid #eee;
}

.slogan-container h1 {
  font-size: 48px;
  font-family: 'Georgia', serif;
  color: #000;
  font-weight: bold;
}

/** Ticket list styling */
.tickets-content {
  margin-top: 30px;
  max-width: 800px; /* Restricts the content width for better readability */
  margin: 0 auto; /* Centers the content horizontally */
  padding: 20px;
}

.tickets-content h1 {
  text-align: center; /* Centers the title */
  font-size: 2rem; /* Larger font for the title */
  margin-bottom: 20px; /* Adds space below the title */
  color: #333; /* Darker color for contrast */
}

.tickets-content ul {
  list-style-type: none; /* Removes default bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.tickets-content li {
  display: flex; /* Aligns items horizontally */
  justify-content: space-between; /* Spreads content evenly */
  align-items: center; /* Aligns items vertically */
  padding: 10px; /* Adds space inside each list item */
  margin-bottom: 10px; /* Adds space between list items */
  background-color: #fff; /* White background for each ticket */
  border-radius: 5px; /* Rounds the corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.tickets-list {
  margin-top: 2em;
}

/** General button styling */
.btn {
  background-color: #fadcde;
  color: black;
  border: none;
  padding: 10px 80px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: medium;
  margin-top: 1em;
}

.btn:hover {
  background-color: #dc6472; /* Darker shade on hover */
}
